

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                            <i class="fa fa-calendar"></i>  Set an Appointment

                        </h3>
                        <ol class="breadcrumb">

                            <li>
                                <i class="fa fa-picture-o"></i> Select Photo Services</a>
                            </li>
                            
                        </ol>
                        <div class="row">
                    <div class="col-lg-12">



                         <div class="col-lg-3">

                         </div>
                         <div class="col-lg-3">
                         </div>
                          <div class="col-lg-3">
                         </div>

                           <div class="col-lg-3">
                          <div class="form-group input-group">
                                <input type="text" class="form-control" placeholder="Search Photo Services">
                                <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                            </div>
                            </div>


                            <h4 class="page-header">
                                <i class="fa fa-picture-o"></i>  Photography Services and Price Guide

                            </h4>

                            <div class="col-sm-12">
                               <div class="panel panel-red">
                                   <div class="panel-heading">
                                     <div class="radio">
                              <label>
                                  <input type="radio" name="photoserviceRadios" id="photoserviceRadios1" value="option1" checked><h3 class="panel-title">PORTRAITS, COUPLE + FAMILY - 8000.00
                                    </h3>
                              </label>
                          </div>
                                   </div>
                                   <div class="panel-body">
                                     One-hour photoshoot (maximum 6 people)

                                     25 processed high-resolution and 25 photos for web sharing photos in a CD

                                    ,Choice of one 8" x 10" or three 5" x 7" prints.

                                    ADDITIONAL PERSON IN GROUP: $ 9.99 per person includes 3 more photos in CD
                                   </div>
                                 </div>
                               </div>

                               <div class="col-sm-12">
                                  <div class="panel panel-red">
                                      <div class="panel-heading">
                                        <div class="radio">
                                 <label>
                                     <input type="radio" name="photoserviceRadios" id="photoserviceRadios1" value="option1" checked><h3 class="panel-title">PROFESSIONAL HEADSHOTS - 6000.00
                                       </h3>
                                 </label>
                             </div>
                                      </div>
                                      <div class="panel-body">
                                        1-hour photoshoot 10 processed high-resolution, 10 web-versions for website, and 10 watermarked for web sharing photos in a CD
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-sm-12">
                                     <div class="panel panel-red">
                                         <div class="panel-heading">
                                           <div class="radio">
                                    <label>
                                        <input type="radio" name="photoserviceRadios" id="photoserviceRadios1" value="option1" checked><h3 class="panel-title">FRIENDS & FAMILY PARTIES - 5000.00
                                          </h3>
                                    </label>
                                </div>
                                         </div>
                                         <div class="panel-body">
                                           4-hour Photo Coverage

                                           100 Event Photos includes 75 processed high-resolution and web posting photos in a CD

                                           Additional $ 50 / hour
                                         </div>
                                       </div>
                                     </div>


                                     <div class="col-sm-12">
                                        <div class="panel panel-red">
                                            <div class="panel-heading">
                                              <div class="radio">
                                       <label>
                                           <input type="radio" name="photoserviceRadios" id="photoserviceRadios1" value="option1" checked><h3 class="panel-title">MATERNITY PACKAGE - 6999.00
                                             </h3>
                                       </label>
                                   </div>
                                            </div>
                                            <div class="panel-body">
                                              1 and a half hour Mommy and Daddy Photo Session

                                              25 processed high-resolution and 25 photos for web sharing photos in a CD

                                              Choice of three 8" x 10"
                                            </div>
                                          </div>
                                        </div>

                                        <div class="col-sm-12">
                                           <div class="panel panel-red">
                                               <div class="panel-heading">
                                                 <div class="radio">
                                          <label>
                                              <input type="radio" name="photoserviceRadios" id="photoserviceRadios1" value="option1" checked><h3 class="panel-title">NEWBORN PHOTOS - $ 499.00 + tax
                                                </h3>
                                          </label>
                                      </div>
                                               </div>
                                               <div class="panel-body">
                                                 3-hour Photo Session

                                                25 processed high-resolution and 25 photos for web sharing photos in a CD

                                                Choice of three 8" x 10"
                                               </div>
                                             </div>
                                           </div>

                                           <div class="col-sm-12">
                                              <div class="panel panel-red">
                                                  <div class="panel-heading">
                                                    <div class="radio">
                                             <label>
                                                 <input type="radio" name="photoserviceRadios" id="photoserviceRadios1" value="option1" checked><h3 class="panel-title">Graduation Package C
                                                   </h3>
                                             </label>
                                         </div>
                                                  </div>
                                                  <div class="panel-body">
                                                      Panel content
                                                  </div>
                                                </div>
                                              </div>

                                              <div class="col-sm-12">
                                                 <div class="panel panel-red">
                                                     <div class="panel-heading">
                                                       <div class="radio">
                                                <label>
                                                    <input type="radio" name="photoserviceRadios" id="photoserviceRadios1" value="option1" checked><h3 class="panel-title">MATERNITY + NEWBORN PACKAGE - $ 749.00 + tax
                                                      </h3>
                                                </label>
                                            </div>
                                                     </div>
                                                     <div class="panel-body">
                                                       1.5-hour Mommy and Daddy Photo Session

                                                       3-hour Newborn and Family Photo Session

                                                       50 processed high-resolution and 50 photos for web sharing photos in a CD

                                                       Choice of six 8" x 10" or one 24" x 36" Collage Print, Photobook
                                                     </div>
                                                   </div>
                                                 </div>

                                                 <h4 class="page-header">
                                                     <i class="fa fa-picture-o"></i> Optional Add-ons

                                                 </h4>
                                                 <div class="col-sm-4">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                          <div class="radio">
                                                   <label class="checkbox-inline">
                                                       <input type="checkbox"><h3 class="panel-title">Photography Package Preference:
                                                         </h3>
                                                   </label>
                                               </div>
                                                        </div>
                                                        <div class="panel-body">
                                                          Digital Download via Online Gallery (Included in the Package),
                                                          Digital CD Package, No Prints (Shipping and Handling Fees: $5.00),
                                                          Photography Package: CD and Prints (Shipping and Handling Fees: $10.00)
                                                        </div>
                                                      </div>
                                                    </div>

                                                    <div class="col-sm-4">
                                                       <div class="panel panel-default">
                                                           <div class="panel-heading">
                                                             <div class="radio">
                                                      <label class="checkbox-inline">
                                                          <input type="checkbox"><h3 class="panel-title">Additional Person in Group:
                                                            </h3>
                                                      </label>
                                                  </div>
                                                           </div>
                                                           <div class="panel-body">
                                                                $ 9.99 per person includes 3 more photos
                                                                <br>
                                                                <br>

                                                                <div class="form-group">

                                                                  <div class="col-sm-3">
                                                                  <input class="form-control">
                                                                </div>
                                                                <label> number of person/s</label>
                                                                </div>

                                                           </div>

                                                         </div>
                                                       </div>

                                                       <div class="col-sm-4">
                                                          <div class="panel panel-default">
                                                              <div class="panel-heading">
                                                                <div class="radio">
                                                         <label class="checkbox-inline">
                                                             <input type="checkbox"><h3 class="panel-title">Additional Time for Events:
                                                               </h3>
                                                         </label>
                                                     </div>
                                                              </div>
                                                              <div class="panel-body">
                                                                   $50 per hour
                                                                   <br>
                                                                   <br>

                                                                   <div class="form-group">

                                                                     <div class="col-sm-3">
                                                                     <input class="form-control">
                                                                   </div>
                                                                   <label> number of hour/s to be added</label>
                                                                   </div>

                                                              </div>

                                                            </div>
                                                          </div>






